#!/usr/bin/make -f
#export DH_VERBOSE = 1

INSTALL_DIR=debian/ros-melodic-am-vision-opencv/opt/ros/melodic

%:
	dh $@

override_dh_auto_install:
	# for some reason, install: in the makefile isn't being called???
	mkdir -p ${INSTALL_DIR}
	cp -r install/include ${INSTALL_DIR}
	cp -r install/lib ${INSTALL_DIR}
	cp -r install/share ${INSTALL_DIR}


override_dh_builddeb:
	# write debian package to current directory
	# amros container causes cross-link error when up one directory
	dh_builddeb --destdir=.

# ignore dependency checking since opencv4 comes with Nvidia NX 
# dpkg-shlibdeps: error: no dependency information found for /usr/lib/aarch64-linux-gnu/libopencv_calib3d.so.4.1 (used by debian/ros-melodic-am-vision-opencv/opt/ros/melodic/lib/libimage_geometry.so)
override_dh_shlibdeps:
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info
