#!/usr/bin/make -f
#export DH_VERBOSE = 1
SHELL:=/bin/bash
SRC_DIR=src
INSTALL_DIR=debian/ros-melodic-am-perception-pcl/opt/ros/melodic

%:
	mkdir -p ${SRC_DIR}

	cp -rf cv_bridge ${SRC_DIR}
	cp -rf image_geometry ${SRC_DIR}
	cp -rf vision_opencv ${SRC_DIR}
	source /opt/ros/melodic/setup.bash && catkin_make && catkin_make install

override_dh_auto_install:
	# for some reason, install: in the makefile isn't being called???
	mkdir -p ${INSTALL_DIR}
	cp -r install/include ${INSTALL_DIR}
	cp -r install/lib ${INSTALL_DIR}
	cp -r install/share ${INSTALL_DIR}

clean:
	rm -rf ${SRC_DIR}
	rm -rf ../*.*deb
	rm -rf build devel install